body, html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
}
.App {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}
table {
  border-collapse: collapse;
  border: 1px solid black;
  background-color: burlywood;
}
td {
   padding: 0;
}

.borderR{
  border-bottom: 2px solid black;
}

.borderC{
  border-right: 2px solid black;
}

.grid {
  display: flex;
  flex-direction: column;
}

.cell {
  display: flex;
  height: 2.3rem;
  width: 2.3rem;
  font-size: 2rem;
  text-align: center;
  border: 1px solid;
}

